.aa{
    width: 173px;
    height: 30px;
}
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

:root {
    font-size: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 500px;
}

nav li {
    width: 20rem;
    height: 7rem;
    font-size: 20px;
    text-align: center;
    line-height: 7rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 3rem;
}

nav li::before,
nav li::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

nav li::before {
    background-color: white;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

nav li::after {
    background-color: goldenrod;
    transform: translate(1.5rem, 1.5rem);
    z-index: -2;
}

nav li:hover {
    transform: translate(1.5rem, 1.5rem);
    color: white;
}

nav li:hover::before {
    background-color: goldenrod;
}

nav li:hover::after {
    background-color: white;
    transform: translate(-1.5rem, -1.5rem);
}



*{
    font-family: Avenir, sans-serif;
  }
  fieldset{
    background-color: RGBa(240, 160, 0, 0.2);
  }
  legend{
    font-weight: bold;
  }
  .champ{
    margin-bottom: 10px;
  }
  textarea{
    width: 80%;
    height: 100px;
  }
  input{
    width: 150px;
  }
  input[type="radio"], input[type="checkbox"]{
    width: auto;
  }
  input[type="submit"]{
    width: 100px;
  }
  .container{
      width: 900px;
    
  }
  .border-secondary{
    background-color: lightsteelblue;
  }
  .form-control{
      height: 40px;
  }
  .control-label{
      font-size: 15px;
  }
  .logo{
    width: 150px;

    margin-left: -155px;
    margin-top: 55px
   
  }
  .box{
    margin:80px;
    text-align: center;
      width:20%
  }
  .apropos{
      display:flex;
      justify-content:space-around;
  }
  .propos-img{
      border-radius:100px ;
      box-shadow: 10px 5px 10px 5px#c8d2d2;
      margin-bottom: 50px;
      
  }